{% extends "base.html" %}

{% block title %}soundbank | login{% endblock %}

{% block content %}

<div class="container flex flex-center flex-column flex-justify">
    <div class="form-box">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
            </p>
        {% endif %}

        <header>
            <h1>Artist Login</h1>
        </header>

        <form action="" method="post">
            {% csrf_token %}

            <div class="form-input">
                <label for="id_username">Username</label>
                <input id="id_username" name="username" type="text"
                       {% if form.username.value %} value="{{ form.username.value }}" {% endif %} />
                {% if form.username.errors %}
                    <div class="errors">{{ form.username.errors|striptags }}</div>
                {% endif %}
            </div>

            <div class="form-input">
                <label for="id_password">Password</label>
                <input id="id_password" name="password" type="password"
                       {% if form.password.value %} value="{{ form.password.value }}" {% endif %} />
                {% if form.password.errors %}
                    <div class="errors">{{ form.password.errors|striptags }}</div>
                {% endif %}
            </div>

            <div class="form-end">
                <button type="submit" class="btn">Login</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}
